<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Stock Trackr</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src={{cdn_js | safe}}>

    </script>
  </head>
  <body>
    <nav class="navbar navbar-light" style="background-color: #53c685;">
      <a class="navbar-brand" href="#">Stock <b>Trackr</b></a>
    </nav>
    <div class="container">
      {{script1 | safe}}
      {{div1 | safe}}
    </div>
  </body>
</html>
